<% if can? :update, @products %>
<p id="notice"><%= notice %></p>

<h1 class="font">Listing Products</h1>

<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Brand</th>
      <th>quantity</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= product.description %></td>
        <td><%= product.brand %></td>
        <td><%= product.quantity %></td>
        <td><%= product.category.name %></td>
        <td><%= link_to 'Show', product, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Product", new_product_path, class: "btn btn-info" %>
<% else %>
  <%= render 'not_allowed' %>
<% end %>



